{% extends 'ProyectoWebApp/base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">

{% for producto in productos %} <!-- Bucle para recorrer las propiedades de (Productos) -->
      
    <div class="col-md-3">
    <div class="card" style="width: 100%%;" class="card-img-top">

            <img src="{{producto.imagen.url}}" style="width: auto;">

              <div class="card-body" style="text-align: center;">

                <h7 class="card-title">{{producto.nombre}}</h7>

                <p class="card-text">{{producto.precio}}&nbsp;USD</p>


              </div> <!--card body se cierra-->
            <div class="card-footer text-center">
              <a href="#" class="btn btn-success">Agregar al carrito</a>
            
            </div>     
        </div><!--card que se cierra-->
    
    </div><!--col que se cierra-->

{% endfor %}

  </div>
</div>

{% endblock %}